

/* Required for full background image */
html,
body,
header,
.view {
  height: 100%;
  scroll-behavior: smooth;
    
}


@media (max-width: 740px) {
  html,
  body,
  header,
  .view {
    height: 100vh;
  }
}

.top-nav-collapse {
  background-color: #1b5e20 !important;
}

.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}

@media (max-width: 991px) {
  .navbar:not(.top-nav-collapse) {
    background: #1b5e20 !important;
  }

  .vision-box {
    font-size: 10px;
  }
}

.vision-box {
  background-color: white;
}

.timeflies{
    font-size: 17px;
}


.carousel,
    .carousel-item,
    .carousel-item.active {
      height: 300px;
    }
    .carousel-inner {
      height: 300px;
    }

    @media(max-width: 500px;){
      .carousel,
    .carousel-item,
    .carousel-item.active {
      height: 200px;
    }
    .carousel-inner {
      height: 200px;
    }

    }

    .carousel-control-color{
      background-color: #1b5e20 !important;
    }

.mb-6,
.my-6 {
  margin-bottom: 4rem !important
}
.mb-7,
.my-7 {
  margin-bottom: 5rem !important
}